body {
  margin:0.5em;
  font-family: 'Noto Serif', serif;
  overflow: hidden;
}
.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  background-color: darkgray;
}
.left-section{
  display: flex;
  align-items: center;
}
.logo-wrapper{
  flex: 0 0 auto;
  
}
.logo-image{
  max-width: 80px;
  max-height: 50px;
  margin-bottom: 20px;
}
.title-wrapper{
  flex: 0 0 auto;
  margin-left: 5px;
}
h4{
  font-family:'Kalnia', serif;
  font-weight: bolder;
  margin-top: -17px;
}
.right-section {
  display: flex;
  align-items: center;
  margin-left: 7em;
  margin-top: -10px;
}

/*.links-wrapper{
  display: flex;
  justify-content: flex-end;
}*/

.links-wrapper a{
  display: inline-block;
  margin-right: 2em;
  font-weight: 450;
  text-decoration: none;
  color: #540d00;
  padding-top: 10px;
}
.menu-btn {
  padding: 8px 12px;
  background-color: #540d00;
  color: white;
  border: none;
  cursor: pointer;
  display: none; /* Hide the toggle menu button by default */
}
/*media query for responsiveness */
@media screen and (min-width: 601px) {
  .right-section .link-wrapper {
    display: flex;
  }
 /* .links-wrapper a{
    display: inline-block;
    margin-left: 1em;
  }*/
}
@media screen  and (max-width: 600px) {
  .links-wrapper a {
    display: none; /* Hide links on smaller screens */
  }
  .right-section{
    display: flex;
  }
  .menu-btn{
    display: block;
  }
  .hidden-links.show-links {
    display: block;
  }
}